.About {
  margin-top: 5%;
  margin-bottom: 5%;
  }
  
  .container_pdf {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_pdf a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  .text-container2 {
    width: 65;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .text-container2 h4 {
    color: rgb(0, 0, 0);
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
  }
  .text-container2 h1 {
   font-family: 'Press Start 2P', sans-serif;
    color: aqua;
    font-size: 2.5vw;
    font-display: justify;
    font-weight: bolder;
    text-align: center;
    border-color: black;
    border-radius: 10px;
  }
  
  .details-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(
      circle at 3% 75%,
      rgb(0, 167, 189) 0%,
      rgb(0, 189, 218) 90%
    );
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: 0.5s;
    margin-top: 30px;
  }
  
  .details-btn:hover {
    text-shadow: 0 0 10px #818181, 0 0 20px #001aff, 0 0 30px;
    transform: translateY(-5px);
  }
  
  .linkedin-logo {
    margin-left: 10px;
    font-size: 24px;
  }
  
  #Mudkip {
    width: 10%;
    margin: auto;
  }
  
  @media only screen and (max-width: 767px) {
    .About {
      text-align: justify;
      padding: 5px;
      margin: 10%;
    }
    .About h1 {
      font-size: 3.5vw;
    }
    .About h4 {
      font-size: 4vw;
    }
  
    #Mudkip {
      margin-bottom: 1px;
    }
  }
  