footer {
  background-color: #000000;
opacity: 1;
background: repeating-linear-gradient( -45deg, #1c1c1c, #1c1c1c 20px, #010059 20px, #140056 100px );
  color: #fff;
  padding: 20px 0; /* Adjusted padding */
  text-align: center;
}

.containerF {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  max-width: 850px; /* Changed width to max-width for responsiveness */
  width: 100%;
  margin: 0 auto; /* Centering the content */
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  transition: all 0.3s ease;
  font-size: 35px;
}

.social-icons a:hover {
  background-color: #00000000;
  color: rgb(0, 255, 255);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column; /* Stack columns on small screens */
    text-align: center;
  }
}