footer {
    background: radial-gradient(circle at 3% 75%, rgb(7, 1, 95) 0%, rgb(0, 4, 41) 100%);
    color: #fff;
    margin-top: 0 auto;
    padding-top: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer p {
    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
   

  }
  @media (max-width: 768px) {
    .col-md-6 {
      justify-content: center;
      text-align: center;
    }
}
  .containerF {
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    width: auto;
  }
 
  .row {
    width: 850px;
  }
  .social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    
  }
  
  .social-icons li {
    margin: 0 10px
  }
  
  .social-icons a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
    font-size: 40px;
  }
  
  .social-icons a:hover {
    background-color: #00000000;
    color: rgb(0, 255, 255);
  }
#name {
  display: flex;
  align-items: center;
}
  #Mudkip2{
    width: 15%;
   margin-bottom: 15px;
  }

  @media (max-width: 768px) {
    #icons  {
        justify-content: center;
        justify-self: center;
        
    }

    #Mudkip2 {
      width: 10%;
      padding-bottom: 15px;
    }
  }