@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quando", serif;
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
opacity: 1;
background: repeating-linear-gradient( -45deg, #1c1c1c, #1c1c1c 20px, #000000 20px, #000000 100px );}

a {
  color: unset;
  text-decoration: none;
}

.nav__bg {
  background: radial-gradient(
    circle at 3% 75%,
    rgba(0, 8, 98, 1) 0%,
    rgba(78, 0, 78, 1) 100%
  );
}

.nav__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  border-color: aqua !important;
  width: 50%;
  margin: 0 auto;
}
