@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quando', serif;
    scroll-behavior: smooth;
    
}
body { 
    background: var(--color-bg);
    background: linear-gradient(
        30deg,
        #000000 0%,
        #00162e 25%,
        #060055 50%,
        #00013e 75%,
        #000000 100%
      );
      background-size: 200%;
      animation: aurora 10s infinite;
}
@keyframes aurora {
    0% {
      background-position: left top;
    }
    25% {
      background-position: right top;
    }
    50% {
      background-position: right bottom;
    }
    75% {
      background-position: left bottom;
    }
    100% {
      background-position: left top;
    }
  }


a{
    color: unset;
    text-decoration: none;

}

.nav__bg {
    
    background:radial-gradient(circle at 3% 75%, rgba(0, 8, 98, 1) 0%, rgba(78, 0, 78, 1) 100%);
}

.nav__text {
   background: var(--gradient-text);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
}