.skillsCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }
  
  #Skills  {
    text-align: center;
    justify-content: center;
    align-self: center;
   
    font-family: "Courier New", Courier, monospace;
  }
  #Skills h4 {
    color: aqua;
    font-size:30px ;
    font-family: "Courier New", Courier, monospace;
  }

  
  #skillsID {
    color: aqua;
    font-size: 2.5vw;
    font-weight: bolder;
    font-family: 'Press Start 2P', sans-serif;
    padding-top: 50px;
  }
  .imgJS {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px;
   
    overflow: hidden;
    display: flex;
  }
  
  .imgJS img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: filter 0.5s ease;
  }
  
  .imgJS p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  
  @media only screen and (min-width: 768px) {
    #skillsID
    {
      font-size: 3.5vw
    }
    .imgJS:hover img {
      filter: blur(5px);
      transition: transform 0.3s ease-in;
    }
    
    .imgJS:hover p {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .imgJS {
      width: 100px;
      height: 100px;
    }
    .imgJS:hover img {
      filter: none;
     
      
    }
    
    .imgJS:hover p {
      opacity: 1;
    }
  }